/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* header styles*/
.text-color{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #30508d;
    /* background: linear-gradient(90deg, #30508d , #d0718f); */

    /* font-family: 'Roboto', sans-serif; */
}
/* main section */
/* error handling */
.error-msg{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ee1717;
}
/* card */
.border-style{
    border-radius: 20px;
}
/* details button */
.details-btn{
    background-color: #61bfdb;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
.details-btn:hover{
    background-color: #19619c;
}