/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* body */
.container-body{
    background-color:ghostwhite;
}
/* header styles*/
.text-color{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #30508d;
    /* background: linear-gradient(90deg, #30508d , #d0718f); */

    /* font-family: 'Roboto', sans-serif; */
}
/* main section */
/* error handling */
.error-msg{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ee1717;
}
/* card */
.border-style{
    border-radius: 20px;
}
/* details button */
.details-btn{
    background-color: #6b4e83;
    color: rgb(245, 239, 239);
    border: none;
    border-radius: 10px;
}
.details-btn:hover{
    background-color: #402a4d;
}
/*details card background*/
.bg-style{
    background-color: rgb(26, 29, 28);
    
}
.width-style{
    width: 50%;
}

/* responsive */
@media only screen and (max-width: 688px){
    #phone-details{
        width: 100%;
    }
    #tb-responsive tbody,  #tb-responsive thead,  #tb-responsive tr, #tb-responsive td{
        display: block;
    }
    #tb-responsive thead tr th{
        position: absolute;
        top: -9999px;
        left:-9999px;
    }
    #tb-responsive td{
        position: relative;
        padding-right: 15%;
    }
}
    
